

.nav-photo {
    display: block;
    max-height: 50px;
}
.media-object {
    display: block;
    max-height: 50px;
}

.bs-docs-masthead {
    padding-top: 30px;
    padding-bottom: 80px;
}
.adm-grocery-table{
	margin-top: 35px;
}

